body {
  margin: 0;
  font-family: 'Dancing Script', cursive !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: white;
}
.carousel-color{
  background-color: cornflowerblue;
  color: whitesmoke;
}
h2{
  color: cornflowerblue !important;
}

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */

