body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: white;
}
.carousel-color{
  background-color: cornflowerblue;
  color: whitesmoke;
}
h2{
  color: cornflowerblue !important;
  font-family: 'Dancing Script', cursive !important;

}
video{
  object-fit: fill;
  width: 1441px;
  height: 470px;

}
.videostyle,.App{
  overflow: hidden;
}

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */

.login-form {
  max-width: 300px;
}
.login-form-forgot {
  float: right;
}
.ant-col-rtl .login-form-forgot {
  float: left;
}
.login-form-button {
  width: 100%;
}
.modalform{
  margin-left: 80px !important;
}
.register{
  text-decoration: underline;
  text-decoration-color: blue;
}
.ant-btn-primary {
  margin-bottom: 11px;
}
p{
  text-align: center;
}
.css-frs8jf-MuiBadge-root{
  margin-top: -10px;
}
.dropdown-menu{
  width: 128px !important;
  min-width: 7px !important;
  /* margin-top:10px !important; */
}